<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{libroPrestado.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{libroPrestado.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/libroPrestados}" class="btn btn-secondary">[[#{libroPrestado.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('libroPrestado')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='libroPrestado', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='libroPrestado', field='fechaInicioPrestamo', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='libroPrestado', field='fechaFinPrestamo', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='libroPrestado', field='estadoPrestamo')}" />
                <div th:replace="~{fragments/forms::inputRow(object='libroPrestado', field='libro', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='libroPrestado', field='lector', type='select')}" />
                <input type="submit" th:value="#{libroPrestado.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
